.header-container {
    display: flex;
    padding: 73px 5% 30px 5%;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-logo {
    font-weight: bold;
    font-size: 48px;
    color: #30A6E8;
  }

  .header-logo span {
    font-size: 32px
  }
  
  .header-route {
    display: flex;
    width: 30%;
    justify-content: space-between;
    font-weight: 600;
  }
  
  .header-route .item {
    margin: auto;
    color : black;
  }