.ruleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
}

.ruleContainer .ruleInfoBox {
    padding: 50px 0;
}

.ruleContainer .ruleInfoBox .ruleInfoTitle {   
    margin-bottom: 50px;
    margin-top: 10px;
}

.ruleContainer .ruleInfoBox .ruleInfoTitle p {
    color: #30A6E8;
    font-size: 36px;
    font-weight: 600;
}

.ruleContainer .ruleInfoBox .ruleInfoSub {
    font-size: 20px;
    font-weight: 600;
    line-height: 2.3em;
}

.ruleContainer .ruleInfoBox .ruleInfoSub p:last-child {
    font-size: 16px;
    color: #FF0000;
}

.ruleImageContainer {
    width: 700px;
    height: 350px;
    border-radius: 24px;
    border: 2px solid #E6E6E6;
    background: #F6F6F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.ruleImageContainer .ruleImageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ruleImageContainer .ruleImageBox p {
    margin-top: 15px;
    font-weight: 700;
    font-size: 20px;
   
}

.ruleBtnBox {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formBtn {
    width: 274px;
    padding: 11px 0;
    border-radius: 24px;
    border: 2px solid #E6E6E6;
    background: #D9D9D9;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}